* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Mono';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f7f7f7;
    color: #010101;
    display: flex;
}

#side-nav {
    width: 200px;
    background-color: #333;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#side-nav ul {
    list-style: none;
    padding: 0;
}

#side-nav li {
    margin: 20px 0;
}

#side-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#side-nav a:hover {
    color: #ddd;
}

main {
    margin-left: 200px;
    width: calc(100% - 200px);
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

.scroll-title {
    font-size: 2rem;
    padding-left: 5rem;
    margin-top: 5rem;
}

p {
    width: 90%;
    margin: 2rem 0;
}

section {
    height: 100vh;
}

.container {
    padding: 5rem;
}

.horizontal_scroll {
    position: absolute;
    top: 10%;
    height: 60%;
    width: 400vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
}

.scroll_contents {
    height: 100%;
    width: 100vw;
}

.sticky_wrap {
    overflow: hidden;
    position: sticky;
    top: 10rem; /* Increase the value to make the transition point higher */
    height: calc(100vh - 10rem); /* Adjust the height to match the top property */
    margin-top: -10rem; /* Offset the top property to ensure correct initial position */
}

.scroll_container {
    height: 400vh; /* Keep the height for full horizontal scrolling */
    padding-top: 10rem; /* Ensure padding matches .sticky_wrap adjustments */
}

.red {
    background-color: #ff3d00;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #05ff00;
}

.blue {
    background-color: #2835f8;
}

h2 {
    font-size: 2rem;
    color: #f7f7f7;
}

.left {
    margin-top: 5vh;
    margin-left: 5vw;
}

.right {
    text-align: right;
    margin-top: 85vh;
    margin-right: 5vw;
}
